.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
}

.cognizant-footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 16px;
}
